.bodyDiv {
  align-items: center;
  background-image: url('../../../assets/backgroundImage/cover.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.headingDiv {
  color: rgba(255, 255, 255, 0.7);
  margin: 10px;
}

.heading {
  margin: 0px;
  font-size: 2em;
}

.buttonDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.button {
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(50, 50, 50, 1);
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  width: 30%;
  height: 40%;
  font-weight: bold;
  font-size: 1.5em;
}

.button:hover {
  background-color: rgba(255, 255, 255, 1);
}

/* @media screen and (min-width: 991px) {

}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .button {
    background-color: rgba(255, 255, 255, 0.3);
    color: rgba(10, 10, 10, 0.7);
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    width: 30%;
    height: 40%;
    font-weight: bold;
    font-size: 1.5em;
  }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  .button {
    background-color: rgba(255, 255, 255, 0.3);
    color: rgba(10, 10, 10, 0.7);
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    width: 40%;
    height: 40%;
    font-weight: bold;
    font-size: 1.5em;
  }
}

@media screen and (max-width: 600px) {
  .button {
    background-color: rgba(255, 255, 255, 0.3);
    color: rgba(10, 10, 10, 0.7);
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    width: 40%;
    height: 40%;
    font-weight: bold;
    font-size: 1.5em;
  }
} */
